[APP]
ENVIRONMENT = development
FILES_PATH = tests/sandbox/somewhere

[LOGS]
ERRORS: logs/errors.log
INFO: data/info.log

[PARSER]
USERNAME: root
PASSWORD: p@ssw0rd
HOST: 127.0.0.1
PORT: 5432
DB: my_database

[LOADER]
STATIC_FOLDER: static
TEMPLATES_FOLDER: templates